.Section {
	min-height: 100vh;
	width: 100%;
	margin: 0px;
	display: flex;
	flex-direction: column;
	padding-top: 100px;
	padding-bottom: 100px;
}

.Container {
	max-width: 1200px;
	align-self: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.RowFlexContainer {
	display: flex;
	flex: 1 1 auto;
	flex-wrap: wrap;
	flex-direction: row;
	column-gap: 50px;
	align-items: center;
	text-align: center;
	max-width: 100vw;
}

.iconContainer {
	column-gap: 10px;
	padding-top: 25px;
}

.ColumnFlexContainer {
	display: flex;
	flex: 1 1 auto;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.FlexItem {
	align-self: center;
}

.ListCard {
	flex: 1;
	text-align: start;
	background-color: #333;
	border-color: #333;
	min-width: 300px;
}

.ProjectCard {
	flex: 1;
	text-align: start;
	background-color: #333;
	border-color: #333;
	min-width: 340px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
	/*max-width: 100vw;*/
}

.ProjectContainer {
	max-width: 1500px;
	align-self: center;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0px;
	row-gap: 30px;
	column-gap: 0px;
}

.icon {
	font-size: 35px;
}

.SkillIcon {
	font-size: 150px;
	color: #26b6bb;
}

h1 {
	align-self: center;
}

.SectionDescription {
	font-size: 18px;
	width: 600px;
	max-width: 90%;
	align-self: center;
}

@media screen and (min-width: 1220px) {
	.RowFlexContainer {
		flex-wrap: nowrap;
	}

	.ColumnFlexContainer {
		flex-wrap: nowrap;
	}

	.testing {
		position: relative;
		bottom: 100px;
	}
}
